
@mixin background($imgpath, $position:0 0, $repeat: no-repeat)
    background:
        image: url($imgpath)
        size: cover
    position: relative
    /* Preserve aspet ratio */
    min-width: 100%
    min-height: 100%
.bg
    @include background("..\\images\\house.jpg")
    background-attachment: fixed
    display: flex
    align-items: center
    justify-content: center
    min-height: 100vh

.page-title
    scale: 2
    transition: transform 0.3s ease
    text-align: center
    background-color: rgba(200,200,200, 64)
    border-radius: 10px
    border-width: thick
    border-color: black
    border-style: double
    @media (max-width: 768px)
        scale: 1
        max-width: 90vw

@media (min-width: 769px)
  body.menu-open .page-title
    -webkit-transform: translateX(calc(var(--menu-width, 200px) / -2))
    transform: translateX(calc(var(--menu-width, 200px) / -2))

.h1, h1
    font-size: xxx-large

.main-content
    background-color: rgba(200,200,200, 64)
    border-radius: 10px
    border-width: thick
    border-color: black
    border-style: double
    margin-left: 5%
    margin-top: 2.5%
    margin-right: 5%
    margin-bottom: 2.5%

